<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .login {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>
<div class="login">
    <form action="/" method="post">
        <label for="name">Username
            <input type="text" name="username" id="name">
        </label>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>